{% extends 'base.html' %}

{% block content %}
    <section class="section">
        <h1>Detalhes da reserva</h1>
        <div class="card">
            <p><strong>Locação:</strong> {{ reserva.fk_locacao.nome }}</p>
            <p><strong>Usuário:</strong> {{ reserva.fk_usuario.username }}</p>
            <p><strong>Data de entrada:</strong> {{ reserva.data_entrada }}</p>
            <p><strong>Data de saída:</strong> {{ reserva.data_saida }}</p>
            <p><strong>Valor total:</strong> R$ {{ reserva.valor_total }}</p>
            <p><strong>Status:</strong> {{ reserva.status }}</p>
            <p><strong>Pagamento:</strong> {{ reserva.fk_pagamento.get_metodo_display }} | {{ reserva.fk_pagamento.status }}</p>
        </div>
    </section>
{% endblock %}
